---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.list
    body:
      encoding: UTF-8
      string: token=<SLACK_API_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 744e9e8b-92eb-4412-ad41-0540c9fcecdb
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"U2LNRJP1C","team_id":"T026M1A20","name":"abranches","deleted":false,"status":null,"color":"385a86","real_name":"Manoel
        Rebelo Abranches","tz":"America\/Sao_Paulo","tz_label":"Brasilia Summer Time","tz_offset":-7200,"profile":{"first_name":"Manoel","last_name":"Rebelo
        Abranches","avatar_hash":"g0c72eb17506","real_name":"Manoel Rebelo Abranches","real_name_normalized":"Manoel
        Rebelo Abranches","email":"manoel.abranches@bioritmo.com.br","image_24":"https:\/\/secure.gravatar.com\/avatar\/0c72eb1750605fff34e3f8fcee32bded.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0006-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/0c72eb1750605fff34e3f8fcee32bded.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0006-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/0c72eb1750605fff34e3f8fcee32bded.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0006-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/0c72eb1750605fff34e3f8fcee32bded.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0006-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/0c72eb1750605fff34e3f8fcee32bded.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2F7fa9%2Fimg%2Favatars%2Fava_0006-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/0c72eb1750605fff34e3f8fcee32bded.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2F7fa9%2Fimg%2Favatars%2Fava_0006-512.png"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":true,"is_ultra_restricted":true,"is_bot":false},{"id":"U03TYF3BF","team_id":"T026M1A20","name":"alex","deleted":true,"profile":{"first_name":"Alex","last_name":"Stoll","title":"Web
        Developer","skype":"alexbrahastoll","phone":"(11) 97682 - 2038","image_24":"https:\/\/avatars.slack-edge.com\/2015-03-06\/3952932928_1b98588ae3c012146b22_24.jpg","image_32":"https:\/\/avatars.slack-edge.com\/2015-03-06\/3952932928_1b98588ae3c012146b22_32.jpg","image_48":"https:\/\/avatars.slack-edge.com\/2015-03-06\/3952932928_1b98588ae3c012146b22_48.jpg","image_72":"https:\/\/avatars.slack-edge.com\/2015-03-06\/3952932928_1b98588ae3c012146b22_72.jpg","image_192":"https:\/\/avatars.slack-edge.com\/2015-03-06\/3952932928_1b98588ae3c012146b22_192.jpg","image_original":"https:\/\/avatars.slack-edge.com\/2015-03-06\/3952932928_1b98588ae3c012146b22_original.jpg","avatar_hash":"1b98588ae3c0","real_name":"Alex
        Stoll","real_name_normalized":"Alex Stoll","email":"alex.stoll@helabs.com"},"is_bot":false},{"id":"U0S80HMC4","team_id":"T026M1A20","name":"alexgregianin","deleted":false,"status":null,"color":"a63024","real_name":"Alexandre
        Gregianin","tz":"America\/Sao_Paulo","tz_label":"Brasilia Summer Time","tz_offset":-7200,"profile":{"first_name":"Alexandre","last_name":"Gregianin","avatar_hash":"28d8dfdb29a8","image_24":"https:\/\/avatars.slack-edge.com\/2016-05-23\/45140190064_28d8dfdb29a84b40f6f8_24.jpg","image_32":"https:\/\/avatars.slack-edge.com\/2016-05-23\/45140190064_28d8dfdb29a84b40f6f8_32.jpg","image_48":"https:\/\/avatars.slack-edge.com\/2016-05-23\/45140190064_28d8dfdb29a84b40f6f8_48.jpg","image_72":"https:\/\/avatars.slack-edge.com\/2016-05-23\/45140190064_28d8dfdb29a84b40f6f8_72.jpg","image_192":"https:\/\/avatars.slack-edge.com\/2016-05-23\/45140190064_28d8dfdb29a84b40f6f8_192.jpg","image_512":"https:\/\/avatars.slack-edge.com\/2016-05-23\/45140190064_28d8dfdb29a84b40f6f8_512.jpg","image_1024":"https:\/\/avatars.slack-edge.com\/2016-05-23\/45140190064_28d8dfdb29a84b40f6f8_512.jpg","image_original":"https:\/\/avatars.slack-edge.com\/2016-05-23\/45140190064_28d8dfdb29a84b40f6f8_original.jpg","title":"","phone":"","skype":"","real_name":"Alexandre
        Gregianin","real_name_normalized":"Alexandre Gregianin","email":"agregianin@bioritmo.com.br"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":true,"is_ultra_restricted":false,"is_bot":false},{"id":"U0RTVJWSE",[...]
