---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/emoji.list
    body:
      encoding: UTF-8
      string: token=<SLACK_API_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - emoji:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - f38daf86-ea23-474c-b9be-7289fa15c69c
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"emoji":{"bowtie":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bowtie\/f3ec6f2bb0.png","squirrel":"https:\/\/emoji.slack-edge.com\/T026M1A20\/squirrel\/465f40c0e0.png","glitch_crab":"https:\/\/emoji.slack-edge.com\/T026M1A20\/glitch_crab\/db049f1f9c.png","piggy":"https:\/\/emoji.slack-edge.com\/T026M1A20\/piggy\/b7762ee8cd.png","cubimal_chick":"https:\/\/emoji.slack-edge.com\/T026M1A20\/cubimal_chick\/85961c43d7.png","dusty_stick":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dusty_stick\/6177a62312.png","slack":"https:\/\/emoji.slack-edge.com\/T026M1A20\/slack\/5ee0c9bea3.png","pride":"https:\/\/emoji.slack-edge.com\/T026M1A20\/pride\/56b1bd3388.png","shipit":"alias:squirrel","white_square":"alias:white_large_square","black_square":"alias:black_large_square","simple_smile":"https:\/\/a.slack-edge.com\/66f9\/img\/emoji_2015\/apple-old\/simple_smile.png","neckbeard":"https:\/\/emoji.slack-edge.com\/T026M1A20\/neckbeard\/c8ec7bf188.png","metal":"https:\/\/emoji.slack-edge.com\/T026M1A20\/metal\/9f936a4278.png","fu":"https:\/\/emoji.slack-edge.com\/T026M1A20\/fu\/2f615de37f.png","feelsgood":"https:\/\/emoji.slack-edge.com\/T026M1A20\/feelsgood\/7bcbaa15fa.png","finnadie":"https:\/\/emoji.slack-edge.com\/T026M1A20\/finnadie\/08e66eb46d.png","goberserk":"https:\/\/emoji.slack-edge.com\/T026M1A20\/goberserk\/d8b892d59b.png","godmode":"https:\/\/emoji.slack-edge.com\/T026M1A20\/godmode\/1bd6476fbb.png","hurtrealbad":"https:\/\/emoji.slack-edge.com\/T026M1A20\/hurtrealbad\/b9c3d648e6.png","rage1":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rage1\/0c3685290c.png","rage2":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rage2\/feaf8897c6.png","rage3":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rage3\/8e11678fbf.png","rage4":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rage4\/a8029a3996.png","suspect":"https:\/\/emoji.slack-edge.com\/T026M1A20\/suspect\/ca4ab3c7c7.png","trollface":"https:\/\/emoji.slack-edge.com\/T026M1A20\/trollface\/8c0ac4ae98.png","octocat":"https:\/\/emoji.slack-edge.com\/T026M1A20\/octocat\/627964d7c9.png","beryl":"https:\/\/emoji.slack-edge.com\/T026M1A20\/beryl\/efe1ba7e7a.png","rube":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rube\/74ef8ef199.png","troll":"alias:trollface","spy14":"https:\/\/emoji.slack-edge.com\/T026M1A20\/spy14\/00629efc45d14444.gif","iknowimold":"https:\/\/emoji.slack-edge.com\/T026M1A20\/iknowimold\/6afaff7d174f41ba.gif","porra":"https:\/\/emoji.slack-edge.com\/T026M1A20\/porra\/8d028729bfe1306a.gif","matrixprog":"https:\/\/emoji.slack-edge.com\/T026M1A20\/matrixprog\/5818c90b668dc147.gif","muiputo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/muiputo\/ea113edec6e8601e.gif","medo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/medo\/869b31325d4dc8bb.gif","rolleyes14":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rolleyes14\/3c8c88a89dc76c67.gif","youbitch":"https:\/\/emoji.slack-edge.com\/T026M1A20\/youbitch\/56201b71a79a0846.gif","gimmebeer":"https:\/\/emoji.slack-edge.com\/T026M1A20\/gimmebeer\/ee841dec3e77ebbd.gif","donotdisturb":"https:\/\/emoji.slack-edge.com\/T026M1A20\/donotdisturb\/47fe8750d11f0625.gif","upsidedown":"https:\/\/emoji.slack-edge.com\/T026M1A20\/upsidedown\/37ddfc5b1148c6ed.gif","tauntling":"https:\/\/emoji.slack-edge.com\/T026M1A20\/tauntling\/9c4b5f27b0f87778.gif","r2d2":"https:\/\/emoji.slack-edge.com\/T026M1A20\/r2d2\/c1a1569c1a02827c.jpg","dance":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dance\/e0288915798e3ef6.gif","headbang":"https:\/\/emoji.slack-edge.com\/T026M1A20\/headbang\/116dd66041e62624.gif","finger":"https:\/\/emoji.slack-edge.com\/T026M1A20\/finger\/7753c65b95f9e7de.gif","yeah":"https:\/\/emoji.slack-edge.com\/T026M1A20\/yeah\/3eec225f1ac74b96.gif","dancing":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dancing\/a777c24745f948b7.gif","excited1":"https:\/\/emoji.slack-edge.com\/T026M1A20\/excited1\/eb79e58a61cd2d27.gif","laugh01":"https:\/\/emoji.slack-edge.com\/T026M1A20\/laugh01\/42d8d5c075883c8a.gif","laugh02":"https:\/\/emoji.slack-edge.com\/T026M1A20\/laugh02\/4800e951a972f941.gif","cop2":"https:\/\/emoji.slack-edge.com\/T026M1A20\/cop2\/fcbf2c8050b394d1.gif","bullying":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bullying\/65169759a4289273.gif","chompy":"https:\/\/emoji.slack-edge.com\/T026M1A20\/chompy\/c053cdc033c05b58.gif","jobs":"https:\/\/emoji.slack-edge.com\/T026M1A20\/jobs\/7056bf03a32074d3.png","coffee2":"https:\/\/emoji.slack-edge.com\/T026M1A20\/coffee2\/44853fddbe3eeace.gif","sleeping1":"https:\/\/emoji.slack-edge.com\/T026M1A20\/sleeping1\/799f37e493d04b6e.gif","grumpycat":"https:\/\/emoji.slack-edge.com\/T026M1A20\/grumpycat\/70ec059665b61f8a.png","bitch_please":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bitch_please\/d994c6cffda9f115.png","not_bad":"https:\/\/emoji.slack-edge.com\/T026M1A20\/not_bad\/aefba67d94e558b3.png","chicote":"https:\/\/emoji.slack-edge.com\/T026M1A20\/chicote\/3126cae0df8fc1e9.gif","swear":"https:\/\/emoji.slack-edge.com\/T026M1A20\/swear\/26060541a37f07d2.gif","dance1":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dance1\/ead1ef62efc6a966.gif","fingers2":"https:\/\/emoji.slack-edge.com\/T026M1A20\/fingers2\/dbcb42baa36f205e.gif","reggae":"https:\/\/emoji.slack-edge.com\/T026M1A20\/reggae\/908a8383711f70bc.gif","dancestyle":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dancestyle\/3cbcb4924ba94a09.gif","partydance":"https:\/\/emoji.slack-edge.com\/T026M1A20\/partydance\/227363f4dd761256.gif","woohoo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/woohoo\/4cadd6a2ff4de5ed.png","female":"https:\/\/emoji.slack-edge.com\/T026M1A20\/female\/0d6fe4ce4020014c.png","male":"https:\/\/emoji.slack-edge.com\/T026M1A20\/male\/41b2f85d94365bb3.png","hemobile":"https:\/\/emoji.slack-edge.com\/T026M1A20\/hemobile\/80a94db1a827e03a.png","android":"https:\/\/emoji.slack-edge.com\/T026M1A20\/android\/68b89d795b7939a0.png","kiss_in_sholder":"https:\/\/emoji.slack-edge.com\/T026M1A20\/kiss_in_sholder\/4f82d58f40c4d38e.png","shocked1":"https:\/\/emoji.slack-edge.com\/T026M1A20\/shocked1\/5ea2f23a613737f0.gif","taunt1":"https:\/\/emoji.slack-edge.com\/T026M1A20\/taunt1\/308f0c2b3adce2b9.gif","closed_mouth":"https:\/\/emoji.slack-edge.com\/T026M1A20\/closed_mouth\/32acc9942aa34c86.gif","sweaty":"https:\/\/emoji.slack-edge.com\/T026M1A20\/sweaty\/61fdede0d93a0c6f.jpg","poker_face":"https:\/\/emoji.slack-edge.com\/T026M1A20\/poker_face\/db3bdba7e1ae1f78.gif","rainbows":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rainbows\/3dcad36230e55507.gif","rageguy":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rageguy\/ec3066ba31ab0e29.gif","lord":"https:\/\/emoji.slack-edge.com\/T026M1A20\/lord\/103fb769e51095fc.gif","gtfo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/gtfo\/80bb3d70d74886f6.gif","holy_s":"https:\/\/emoji.slack-edge.com\/T026M1A20\/holy_s\/d1d0b517ed9330ad.gif","mr_bean_erotic":"https:\/\/emoji.slack-edge.com\/T026M1A20\/mr_bean_erotic\/989862647ca61a4f.gif","cage_obvios":"https:\/\/emoji.slack-edge.com\/T026M1A20\/cage_obvios\/d3b96fb84576f299.gif","maybe":"https:\/\/emoji.slack-edge.com\/T026M1A20\/maybe\/4673d424b189c5da.gif","holy_s2":"https:\/\/emoji.slack-edge.com\/T026M1A20\/holy_s2\/50e45f519ca7a4a6.gif","hadouken":"https:\/\/emoji.slack-edge.com\/T026M1A20\/hadouken\/0627e3233c86bf5f.gif","tum_tis_ta":"https:\/\/emoji.slack-edge.com\/T026M1A20\/tum_tis_ta\/dc61622e30cb4b6b.gif","facepalm":"https:\/\/emoji.slack-edge.com\/T026M1A20\/facepalm\/8593999c53eeddfb.gif","crossed_finger":"https:\/\/emoji.slack-edge.com\/T026M1A20\/crossed_finger\/32d9ba79c9697a5f.png","seewhatyoudidthere":"https:\/\/emoji.slack-edge.com\/T026M1A20\/seewhatyoudidthere\/6165c545ec5205db.jpg","caveira":"https:\/\/emoji.slack-edge.com\/T026M1A20\/caveira\/3aefc231a8ce3fff.png","madruga":"https:\/\/emoji.slack-edge.com\/T026M1A20\/madruga\/a373696f4fb9cd17.jpg","dhh":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dhh\/dd4f9ca6370c9157.jpg","he":"https:\/\/emoji.slack-edge.com\/T026M1A20\/he\/0d45b89dd104ecb1.png","gaytroll":"https:\/\/emoji.slack-edge.com\/T026M1A20\/gaytroll\/910dc2badd720661.gif","avassalo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/avassalo\/d53ac85931d1c1da.jpg","allthethings":"https:\/\/emoji.slack-edge.com\/T026M1A20\/allthethings\/1c3b6c34b8b8b8b8.png","lol":"https:\/\/emoji.slack-edge.com\/T026M1A20\/lol\/468308193377379b.jpg","fwp":"https:\/\/emoji.slack-edge.com\/T026M1A20\/fwp\/60d6dbe63697bd53.jpg","github":"https:\/\/emoji.slack-edge.com\/T026M1A20\/github\/5d24c290c6b82094.png","hearthstone":"https:\/\/emoji.slack-edge.com\/T026M1A20\/hearthstone\/4a08e3b96d1e9c11.png","nothingtodohere":"https:\/\/emoji.slack-edge.com\/T026M1A20\/nothingtodohere\/c34e989926bf3938.gif","onfire":"https:\/\/emoji.slack-edge.com\/T026M1A20\/onfire\/2d5e925204e62f28.gif","billgates":"https:\/\/emoji.slack-edge.com\/T026M1A20\/billgates\/65cade52f4e0aed2.png","gates":"alias:billgates","sportomelhor":"https:\/\/emoji.slack-edge.com\/T026M1A20\/sportomelhor\/688392d7b392a305.png","shrug":"https:\/\/emoji.slack-edge.com\/T026M1A20\/shrug\/cbd24e9a569820c7.png","spying":"https:\/\/emoji.slack-edge.com\/T026M1A20\/spying\/ea0dd08eb4d32ef2.gif","donkey":"https:\/\/emoji.slack-edge.com\/T026M1A20\/donkey\/9034727fb13bc937.gif","down":"https:\/\/emoji.slack-edge.com\/T026M1A20\/down\/0780ab7dfc8a0ce6.gif","prassality":"https:\/\/emoji.slack-edge.com\/T026M1A20\/prassality\/f9931c98dbd07c51.png","eitaporra":"https:\/\/emoji.slack-edge.com\/T026M1A20\/eitaporra\/e310954a43cac779.png","wat":"https:\/\/emoji.slack-edge.com\/T026M1A20\/wat\/388a6e93efb757ec.png","mirandaisnotamused":"https:\/\/emoji.slack-edge.com\/T026M1A20\/mirandaisnotamused\/9b8d00386f99cd36.png","scared":"https:\/\/emoji.slack-edge.com\/T026M1A20\/scared\/c469c4d506f83559.png","fatnerd":"https:\/\/emoji.slack-edge.com\/T026M1A20\/fatnerd\/5b180bc89d16351c.png","tatiou":"https:\/\/emoji.slack-edge.com\/T026M1A20\/tatiou\/02020e5223736a9d.png","ftw":"https:\/\/emoji.slack-edge.com\/T026M1A20\/ftw\/452d156424c76571.png","1620":"https:\/\/emoji.slack-edge.com\/T026M1A20\/1620\/c7e778a5f22309a9.png","capoeira":"https:\/\/emoji.slack-edge.com\/T026M1A20\/capoeira\/929f98881582ae84.png","nyan":"https:\/\/emoji.slack-edge.com\/T026M1A20\/nyan\/52ff8bf7da37baca.gif","joelapproves":"https:\/\/emoji.slack-edge.com\/T026M1A20\/joelapproves\/100b2315b6e39691.png","diva":"https:\/\/emoji.slack-edge.com\/T026M1A20\/diva\/6c99a39dbe712d11.png","phyna":"https:\/\/emoji.slack-edge.com\/T026M1A20\/phyna\/95eb68cbcac7e4e6.png","cruzeiro":"https:\/\/emoji.slack-edge.com\/T026M1A20\/cruzeiro\/39be492780cbb584.png","donned":"https:\/\/emoji.slack-edge.com\/T026M1A20\/donned\/9a068f4115897d49.gif","burro":"https:\/\/emoji.slack-edge.com\/T026M1A20\/burro\/8a82b9fc91efebb9.gif","yoda":"https:\/\/emoji.slack-edge.com\/T026M1A20\/yoda\/eabe69f5f7d5aa5f.gif","software_zen":"https:\/\/emoji.slack-edge.com\/T026M1A20\/software_zen\/e199ea00f90d1eb7.png","swzen":"alias:software_zen","js":"https:\/\/emoji.slack-edge.com\/T026M1A20\/js\/22f3111cee5dc37c.png","oh-god":"https:\/\/emoji.slack-edge.com\/T026M1A20\/oh-god\/0d3c6de7ab0f5427.gif","erhh":"https:\/\/emoji.slack-edge.com\/T026M1A20\/erhh\/727433eb309d3d83.png","fonzie":"https:\/\/emoji.slack-edge.com\/T026M1A20\/fonzie\/a0e97d52d7772fd5.png","dealwithit":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dealwithit\/7075286955f2478b.gif","motherofgod":"https:\/\/emoji.slack-edge.com\/T026M1A20\/motherofgod\/b18acb4463106515.gif","megusta":"https:\/\/emoji.slack-edge.com\/T026M1A20\/megusta\/4bb8825374326494.png","yougotitdude":"https:\/\/emoji.slack-edge.com\/T026M1A20\/yougotitdude\/bee96d38e857e72a.gif","indeed":"https:\/\/emoji.slack-edge.com\/T026M1A20\/indeed\/d4c669d40b3e6fad.png","flamengo-2":"https:\/\/emoji.slack-edge.com\/T026M1A20\/flamengo-2\/089ffb8fd582a9bb.jpg","flamengo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/flamengo\/5986e5b473cfa5b2.gif","internacional":"https:\/\/emoji.slack-edge.com\/T026M1A20\/internacional\/73def6c05378cec0.png","itsfree":"https:\/\/emoji.slack-edge.com\/T026M1A20\/itsfree\/9becc326d0b2ec15.png","youtube":"https:\/\/emoji.slack-edge.com\/T026M1A20\/youtube\/0a55cbe5db1f80bc.png","php":"https:\/\/emoji.slack-edge.com\/T026M1A20\/php\/1177fdb0afa906eb.gif","santos":"https:\/\/emoji.slack-edge.com\/T026M1A20\/santos\/a5594d2b780c7320.png","coringa":"https:\/\/emoji.slack-edge.com\/T026M1A20\/coringa\/fb7d6edbde47b608.gif","lalala":"https:\/\/emoji.slack-edge.com\/T026M1A20\/lalala\/cb7507c37548f00e.gif","taserto":"https:\/\/emoji.slack-edge.com\/T026M1A20\/taserto\/f2031a9752feba2c.jpg","saopaulo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/saopaulo\/72803ac87eda8195.png","facepalm2":"https:\/\/emoji.slack-edge.com\/T026M1A20\/facepalm2\/d4f73eacef5d608e.jpg","doge":"https:\/\/emoji.slack-edge.com\/T026M1A20\/doge\/83dfc84de7808873.png","botafogo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/botafogo\/888ab44b7a79ce24.png","not_sure":"https:\/\/emoji.slack-edge.com\/T026M1A20\/not_sure\/2262b4e25b467c04.jpg","shut_up_and_take_my_money":"https:\/\/emoji.slack-edge.com\/T026M1A20\/shut_up_and_take_my_money\/56fda9c2d2b0f518.jpg","bec":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bec\/e1ee410a1b67258c.png","m1to":"https:\/\/emoji.slack-edge.com\/T026M1A20\/m1to\/752a206d32862dc4.png","spfc":"alias:saopaulo","rogerioceni":"alias:m1to","bandeiranteesporteclube":"alias:bec","justdoit":"https:\/\/emoji.slack-edge.com\/T026M1A20\/justdoit\/0f2316e9f986c024.jpg","shia":"alias:justdoit","fliptable":"https:\/\/emoji.slack-edge.com\/T026M1A20\/fliptable\/2033e19ac86cd06d.jpg","thinking":"https:\/\/emoji.slack-edge.com\/T026M1A20\/thinking\/f12a4eca46a79e70.jpg","huehue":"https:\/\/emoji.slack-edge.com\/T026M1A20\/huehue\/676d771e780ba6a8.png","estourando":"https:\/\/emoji.slack-edge.com\/T026M1A20\/estourando\/be351cf62aaf1f53.jpg","hangouts":"https:\/\/emoji.slack-edge.com\/T026M1A20\/hangouts\/ae51814b74320a4d.jpg","whatsapp":"https:\/\/emoji.slack-edge.com\/T026M1A20\/whatsapp\/ff9ad745e8794ddd.png","zapzap":"alias:whatsapp","trello":"https:\/\/emoji.slack-edge.com\/T026M1A20\/trello\/46791db31266ad43.png","ok_fine":"https:\/\/emoji.slack-edge.com\/T026M1A20\/ok_fine\/c26366a88c91fec5.jpg","i-got-it":"https:\/\/emoji.slack-edge.com\/T026M1A20\/i-got-it\/e1c3fe090cd49dfa.png","caetanoisnotamused":"https:\/\/emoji.slack-edge.com\/T026M1A20\/caetanoisnotamused\/1d1342c9156088ba.gif","linus_is_not_impressed":"https:\/\/emoji.slack-edge.com\/T026M1A20\/linus_is_not_impressed\/4659387ede700756.png","apple_logo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/apple_logo\/895b96e8721645ae.png","windows":"https:\/\/emoji.slack-edge.com\/T026M1A20\/windows\/30caa82e363c9df3.png","mobile_generic":"https:\/\/emoji.slack-edge.com\/T026M1A20\/mobile_generic\/63a73ad8c21e62a9.png","snap-cli":"https:\/\/emoji.slack-edge.com\/T026M1A20\/snap-cli\/b999c7c66d097a4e.png","bahia":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bahia\/586163ab087e9717.jpg","bahea":"alias:bahia","monolith":"https:\/\/emoji.slack-edge.com\/T026M1A20\/monolith\/df5ea5dfd7db7098.png","clojure":"https:\/\/emoji.slack-edge.com\/T026M1A20\/clojure\/e11bf629ebc64936.png","emacs":"https:\/\/emoji.slack-edge.com\/T026M1A20\/emacs\/6f452b8e1aa46dd6.png","datomic":"https:\/\/emoji.slack-edge.com\/T026M1A20\/datomic\/8b56e6e39fd79662.png","onyx":"https:\/\/emoji.slack-edge.com\/T026M1A20\/onyx\/4e04136bcb00087c.png","clojurescript":"https:\/\/emoji.slack-edge.com\/T026M1A20\/clojurescript\/6cc806f341e783c9.png","moustache":"https:\/\/emoji.slack-edge.com\/T026M1A20\/moustache\/7a33d91596a30c67.png","corinthians":"https:\/\/emoji.slack-edge.com\/T026M1A20\/corinthians\/4f2b54a647d3a4d4.png","palmeiras":"https:\/\/emoji.slack-edge.com\/T026M1A20\/palmeiras\/e842745229ad39b8.png","challenge-accepted":"https:\/\/emoji.slack-edge.com\/T026M1A20\/challenge-accepted\/354e46a8d8da64a8.png","appearin":"https:\/\/emoji.slack-edge.com\/T026M1A20\/appearin\/b4d295ae99068449.png","googledocs":"https:\/\/emoji.slack-edge.com\/T026M1A20\/googledocs\/8c61745ec745c51b.png","ryca":"https:\/\/emoji.slack-edge.com\/T026M1A20\/ryca\/e4644caf0fbbab97.png","chaves":"https:\/\/emoji.slack-edge.com\/T026M1A20\/chaves\/40bc3e035d281df0.jpg","vasco":"https:\/\/emoji.slack-edge.com\/T026M1A20\/vasco\/3c6bece5f915f327.png","bozo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bozo\/79f3aa0e81465657.png","forever_alone":"https:\/\/emoji.slack-edge.com\/T026M1A20\/forever_alone\/04b52fe22066c69c.png","eduk":"https:\/\/emoji.slack-edge.com\/T026M1A20\/eduk\/c131b485b46d5287.png","dollynho":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dollynho\/4ff53dcbb62ee64f.jpg","po":"https:\/\/emoji.slack-edge.com\/T026M1A20\/po\/caf879175cf298b8.jpg","bonuz":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bonuz\/32c007ed30b19fae.png","tandera":"https:\/\/emoji.slack-edge.com\/T026M1A20\/tandera\/3806ca9e6f3d8fd6.png","stormtrooper":"https:\/\/emoji.slack-edge.com\/T026M1A20\/stormtrooper\/6c17e7dff5aabed6.jpg","thug_life":"https:\/\/emoji.slack-edge.com\/T026M1A20\/thug_life\/5c58635b32004a24.png","basecamp":"https:\/\/emoji.slack-edge.com\/T026M1A20\/basecamp\/4337a03f06dde3e6.png","ufa":"alias:sweaty","tiozao":"https:\/\/emoji.slack-edge.com\/T026M1A20\/tiozao\/6c71a47c0aead7c3.png","no":"https:\/\/emoji.slack-edge.com\/T026M1A20\/no\/620fb58e1594f8a7.png","cheekybastard":"https:\/\/emoji.slack-edge.com\/T026M1A20\/cheekybastard\/872803ef1bc7f285.png","eita_porra":"https:\/\/emoji.slack-edge.com\/T026M1A20\/eita_porra\/351c5645ef8ff127.png","translate":"https:\/\/emoji.slack-edge.com\/T026M1A20\/translate\/856c935271b891ef.gif","la_ele":"https:\/\/emoji.slack-edge.com\/T026M1A20\/la_ele\/ec2b6ac8df0cf040.png","its_something":"https:\/\/emoji.slack-edge.com\/T026M1A20\/its_something\/5d5002463102f344.png","yes":"https:\/\/emoji.slack-edge.com\/T026M1A20\/yes\/d92489faf4b196c9.png","united":"https:\/\/emoji.slack-edge.com\/T026M1A20\/united\/17f7c3509b480378.png","grumpy_cat":"https:\/\/emoji.slack-edge.com\/T026M1A20\/grumpy_cat\/0741354ebce4d79a.png","medium":"https:\/\/emoji.slack-edge.com\/T026M1A20\/medium\/e3218c6dd366937c.png","jell":"https:\/\/emoji.slack-edge.com\/T026M1A20\/jell\/3d02cb03ed653b0b.png","hurricane_kick":"https:\/\/emoji.slack-edge.com\/T026M1A20\/hurricane_kick\/36a0cce213e77f31.gif","dropbox":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dropbox\/3906e6de29650ec8.png","pocket":"https:\/\/emoji.slack-edge.com\/T026M1A20\/pocket\/6b78cb74c3f3de3a.png","foca":"https:\/\/emoji.slack-edge.com\/T026M1A20\/foca\/50d718c24bffd425.jpg","devil":"https:\/\/emoji.slack-edge.com\/T026M1A20\/devil\/48eacac6026cf4c4.png","tatsumaki":"alias:hurricane_kick","british_lord":"https:\/\/emoji.slack-edge.com\/T026M1A20\/british_lord\/b69c9a0f45da62f4.gif","ninja":"https:\/\/emoji.slack-edge.com\/T026M1A20\/ninja\/08ba3ce1b40212ca.gif","carnaval":"https:\/\/emoji.slack-edge.com\/T026M1A20\/carnaval\/6a2e4aac60e454c8.gif","sim":"alias:yes","nao":"alias:no","ines":"https:\/\/emoji.slack-edge.com\/T026M1A20\/ines\/a0c82dc251b002a6.gif","ta_tranqulo_ta_favoravel":"https:\/\/emoji.slack-edge.com\/T026M1A20\/ta_tranqulo_ta_favoravel\/db7f74d408f14890.gif","hugme":"https:\/\/emoji.slack-edge.com\/T026M1A20\/hugme\/f3f8f65e06ea9579.png","java":"https:\/\/emoji.slack-edge.com\/T026M1A20\/java\/3c52017976bcbc6a.png","felix":"https:\/\/emoji.slack-edge.com\/T026M1A20\/felix\/58284fd683027563.png","fancy_french":"https:\/\/emoji.slack-edge.com\/T026M1A20\/fancy_french\/be30dc1071db96ad.png","silvio":"https:\/\/emoji.slack-edge.com\/T026M1A20\/silvio\/c2712cd72307d211.jpg","rapidao":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rapidao\/9518f1660a86c6fa.png","bozo-2":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bozo-2\/efdf96d6cb3cf2af.jpg","bozom":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bozom\/7dc5af5be0833280.jpg","onion":"https:\/\/emoji.slack-edge.com\/T026M1A20\/onion\/dc5e5dc98002b3a6.png","sheet":"https:\/\/emoji.slack-edge.com\/T026M1A20\/sheet\/aaeece9de8a783b1.png","meh":"https:\/\/emoji.slack-edge.com\/T026M1A20\/meh\/96e3df6336a651f4.jpg","dead_heart":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dead_heart\/83de835221ca33ca.png","fuck_yeah":"https:\/\/emoji.slack-edge.com\/T026M1A20\/fuck_yeah\/08dd2d7c5c5be030.jpg","hans":"https:\/\/emoji.slack-edge.com\/T026M1A20\/hans\/9f415a80bba55de5.png","bugginho":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bugginho\/6ff8caf49228861c.png","quero":"https:\/\/emoji.slack-edge.com\/T026M1A20\/quero\/ed83d3d7fb633167.jpg","papa":"alias:fork_and_knife","drive":"https:\/\/emoji.slack-edge.com\/T026M1A20\/drive\/28d15dbed60cf35c.png","ze":"https:\/\/emoji.slack-edge.com\/T026M1A20\/ze\/f0b1f777a74b8c3b.png","underconstruction":"https:\/\/emoji.slack-edge.com\/T026M1A20\/underconstruction\/d23df863b35dfa89.jpg","robertpalm":"alias:facepalm2","justus":"https:\/\/emoji.slack-edge.com\/T026M1A20\/justus\/31687226e20e86f5.png","faixapresidencial":"https:\/\/emoji.slack-edge.com\/T026M1A20\/faixapresidencial\/edbba25508a86fa2.png","temer":"https:\/\/emoji.slack-edge.com\/T026M1A20\/temer\/d020ed66b7fe4c68.png","2cents":"https:\/\/emoji.slack-edge.com\/T026M1A20\/2cents\/552551aa73dd0e37.jpg","super":"https:\/\/emoji.slack-edge.com\/T026M1A20\/super\/1f1dfd4dcafbf65d.jpg","cry_cute":"https:\/\/emoji.slack-edge.com\/T026M1A20\/cry_cute\/e3f91fb2221a965d.png","travolta":"https:\/\/emoji.slack-edge.com\/T026M1A20\/travolta\/99473da75832f8b7.gif","pikachu":"https:\/\/emoji.slack-edge.com\/T026M1A20\/pikachu\/4caa2a723a680c65.gif","coin":"https:\/\/emoji.slack-edge.com\/T026M1A20\/coin\/717ffc9e5b5982e8.gif","partyparrot":"https:\/\/emoji.slack-edge.com\/T026M1A20\/partyparrot\/9fa2ca8cf3f74876.gif","bananadance":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bananadance\/2013c28f516fa2eb.gif","carlton":"https:\/\/emoji.slack-edge.com\/T026M1A20\/carlton\/737a2834271b77b6.gif","senna":"https:\/\/emoji.slack-edge.com\/T026M1A20\/senna\/271cdcea3e3789bb.png","tubarao":"https:\/\/emoji.slack-edge.com\/T026M1A20\/tubarao\/ca6fdc02e0312a3f.png","loko":"alias:partyparrot","logentries":"https:\/\/emoji.slack-edge.com\/T026M1A20\/logentries\/f5ec1c3833c5c317.png","brb":"https:\/\/emoji.slack-edge.com\/T026M1A20\/brb\/04bac68241e49f0d.gif","oi":"https:\/\/emoji.slack-edge.com\/T026M1A20\/oi\/8f0df9fe7082baa2.jpg","skype":"https:\/\/emoji.slack-edge.com\/T026M1A20\/skype\/f92d10453a314283.png","mamilos":"https:\/\/emoji.slack-edge.com\/T026M1A20\/mamilos\/80164e1be64a4546.jpg","oh-gosh":"https:\/\/emoji.slack-edge.com\/T026M1A20\/oh-gosh\/b845df39bf2e4505.png","alejandro":"alias:tiozao","parrot":"alias:partyparrot","rightparrot":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rightparrot\/6ef3bce5acb9cbc5.gif","shuffleparrot":"https:\/\/emoji.slack-edge.com\/T026M1A20\/shuffleparrot\/75e306309e5f75ca.gif","oldtimeyparrot":"https:\/\/emoji.slack-edge.com\/T026M1A20\/oldtimeyparrot\/226ab7a9f4d04c6c.gif","middleparrot":"https:\/\/emoji.slack-edge.com\/T026M1A20\/middleparrot\/93e4c5593cc2abee.gif","sadparrot":"https:\/\/emoji.slack-edge.com\/T026M1A20\/sadparrot\/6ee22dcd4dd6bcd9.gif","salame":"https:\/\/emoji.slack-edge.com\/T026M1A20\/salame\/b58f9fa05e91ce71.jpg","carreta":"https:\/\/emoji.slack-edge.com\/T026M1A20\/carreta\/0a890dfbfee194fc.gif","drop_the_mic":"https:\/\/emoji.slack-edge.com\/T026M1A20\/drop_the_mic\/17e520e3d9343e52.png","amazon":"https:\/\/emoji.slack-edge.com\/T026M1A20\/amazon\/7ed6f403333b4399.png","houndci":"https:\/\/emoji.slack-edge.com\/T026M1A20\/houndci\/9a4f1b114f70b4f1.png","hound":"alias:houndci","circleci":"https:\/\/emoji.slack-edge.com\/T026M1A20\/circleci\/7ac71536fdddf1b6.png","loading":"https:\/\/emoji.slack-edge.com\/T026M1A20\/loading\/b0cb85b1be559788.gif","rubik":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rubik\/c24566f7a1b73c13.gif","vitoria":"https:\/\/emoji.slack-edge.com\/T026M1A20\/vitoria\/f69a09abb8796e6f.png","zoom":"https:\/\/emoji.slack-edge.com\/T026M1A20\/zoom\/a890722190f79c91.png","zeplin":"alias:ze","solzinho":"alias:sun_with_face","barrichello":"https:\/\/emoji.slack-edge.com\/T026M1A20\/barrichello\/208bf9fa406cc776.png","firefox":"https:\/\/emoji.slack-edge.com\/T026M1A20\/firefox\/019b209f73e5a207.png","spotify":"https:\/\/emoji.slack-edge.com\/T026M1A20\/spotify\/90498ec1beffe3b0.png","thundera":"alias:tandera","saboyou":"https:\/\/emoji.slack-edge.com\/T026M1A20\/saboyou\/60f716e39ded719a.png","commie":"https:\/\/emoji.slack-edge.com\/T026M1A20\/commie\/2110a88a9c40387f.png","kari":"https:\/\/emoji.slack-edge.com\/T026M1A20\/kari\/f3ba47cd0fb91ac6.png","mickey_jump":"https:\/\/emoji.slack-edge.com\/T026M1A20\/mickey_jump\/38499f05fad45c65.gif","is_not_my_fault_1":"https:\/\/emoji.slack-edge.com\/T026M1A20\/is_not_my_fault_1\/ec1263c209987eb6.png","is_not_my_fault_2":"https:\/\/emoji.slack-edge.com\/T026M1A20\/is_not_my_fault_2\/3d7e1c6274d79bcc.png","is_not_my_fault_3":"https:\/\/emoji.slack-edge.com\/T026M1A20\/is_not_my_fault_3\/3d4f892ad3c226f2.png","i_dont_know_1":"alias:is_not_my_fault_1","i_dont_know_2":"alias:is_not_my_fault_2","i_dont_know_3":"alias:is_not_my_fault_3","rainbow_heart":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rainbow_heart\/e8fd4446fa0d438a.jpg","mr_magoo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/mr_magoo\/aad50c158192ac0b.jpg","parrotshuffle":"alias:shuffleparrot","coxinha":"https:\/\/emoji.slack-edge.com\/T026M1A20\/coxinha\/4f348442b8f9d14d.jpg","golpe":"https:\/\/emoji.slack-edge.com\/T026M1A20\/golpe\/5ae939251bcc90b8.jpg","sabe_de_nada":"https:\/\/emoji.slack-edge.com\/T026M1A20\/sabe_de_nada\/8e3d1634486981be.png","flag-wa":"https:\/\/emoji.slack-edge.com\/T026M1A20\/flag-wa\/145a73b3424bcf30.png","fffuuu":"https:\/\/emoji.slack-edge.com\/T026M1A20\/fffuuu\/2874fc8c1c666468.png","heroku":"https:\/\/emoji.slack-edge.com\/T026M1A20\/heroku\/2e2322e5278a0d1b.png","postgre-sql":"https:\/\/emoji.slack-edge.com\/T026M1A20\/postgre-sql\/02206064f4f3a053.png","newrealic":"https:\/\/emoji.slack-edge.com\/T026M1A20\/newrealic\/c8e75cbd6eb334e1.png","site":"https:\/\/emoji.slack-edge.com\/T026M1A20\/site\/5b398c980ba0cef3.jpg","react":"https:\/\/emoji.slack-edge.com\/T026M1A20\/react\/2657385f4fe35018.png","ember":"https:\/\/emoji.slack-edge.com\/T026M1A20\/ember\/a4cccf1cf01711a6.png","ruby":"https:\/\/emoji.slack-edge.com\/T026M1A20\/ruby\/c1bb0fd166fd0062.png","rails":"https:\/\/emoji.slack-edge.com\/T026M1A20\/rails\/e23538a48f10d4c3.png","javascript":"https:\/\/emoji.slack-edge.com\/T026M1A20\/javascript\/12807b2e84ab35dc.png","jigsaw":"https:\/\/emoji.slack-edge.com\/T026M1A20\/jigsaw\/ea757cfdb654b6ec.jpg","saw":"alias:jigsaw","pokebola":"https:\/\/emoji.slack-edge.com\/T026M1A20\/pokebola\/d6e1372b1565e87f.png","bulbasaur":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bulbasaur\/96dee71be65d7ada.png","blastoise":"https:\/\/emoji.slack-edge.com\/T026M1A20\/blastoise\/03d70aaa328c315f.png","mewtwo":"https:\/\/emoji.slack-edge.com\/T026M1A20\/mewtwo\/f386bc0cf70e03c7.png","charizard":"https:\/\/emoji.slack-edge.com\/T026M1A20\/charizard\/9a58eb6bdd85edf5.png","charmander":"https:\/\/emoji.slack-edge.com\/T026M1A20\/charmander\/ee4b18dc3b6a9d53.png","squirtle":"https:\/\/emoji.slack-edge.com\/T026M1A20\/squirtle\/c54420bb4a5d662c.png","dollynho-face":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dollynho-face\/708ca5522d190a25.jpg","ten_sided_dice":"https:\/\/emoji.slack-edge.com\/T026M1A20\/ten_sided_dice\/7f29de6dec00d515.png","bat":"https:\/\/emoji.slack-edge.com\/T026M1A20\/bat\/7edf0d05b0564e30.png","owl":"https:\/\/emoji.slack-edge.com\/T026M1A20\/owl\/d9c677215cb52ece.png","dory":"https:\/\/emoji.slack-edge.com\/T026M1A20\/dory\/8ae7e88fb31233d2.jpg","textao":"alias:memo","discord":"https:\/\/emoji.slack-edge.com\/T026M1A20\/discord\/91a3d19b70c604f2.png","steam":"https:\/\/emoji.slack-edge.com\/T026M1A20\/steam\/db9a4eda4afaf545.png","psn":"https:\/\/emoji.slack-edge.com\/T026M1A20\/psn\/5c07a08ba9412758.png","battlenet":"https:\/\/emoji.slack-edge.com\/T026M1A20\/battlenet\/c085e723f9321058.png","xbox":"https:\/\/emoji.slack-edge.com\/T026M1A20\/xbox\/0c91d8193b4817ac.png","swift":"https:\/\/emoji.slack-edge.com\/T026M1A20\/swift\/e4be2cebbb6b4f02.png","1real":"https:\/\/emoji.slack-edge.com\/T026M1A20\/1real\/fdc621dd6d04271b.jpg","ios":"alias:apple_logo","fastparrot":"https:\/\/emoji.slack-edge.com\/T026M1A20\/fastparrot\/6a193a17ff765dc7.gif","slowparrot":"https:\/\/emoji.slack-edge.com\/T026M1A20\/slowparrot\/5b82c1c2f61f149e.gif","death_hand":"https:\/\/emoji.slack-edge.com\/T026M1A20\/death_hand\/a7e1ce1e5007fd64.jpg","oh_god_why":"https:\/\/emoji.slack-edge.com\/T026M1A20\/oh_god_why\/06956c059311a7dc.jpg","thats_all_folks":"https:\/\/emoji.slack-edge.com\/T026M1A20\/thats_all_folks\/ce112f293e760502.png","iris":"https:\/\/emoji.slack-edge.com\/T026M1A20\/iris\/e833897bc04b40a8.gif","parrotwave3":"https:\/\/emoji.slack-edge.com\/T026M1A20\/parrotwave3\/21822cea895a22c6.gif","parrotwave1":"https:\/\/emoji.slack-edge.com\/T026M1A20\/parrotwave1\/278069813ea8ef5a.gif","parrotwave4":"https:\/\/emoji.slack-edge.com\/T026M1A20\/parrotwave4\/aba5cf7be139c740.gif","parrotwave5":"https:\/\/emoji.slack-edge.com\/T026M1A20\/parrotwave5\/79a11e7970b9f483.gif","parrotwave6":"https:\/\/emoji.slack-edge.com\/T026M1A20\/parrotwave6\/738aa16ae621e55b.gif","parrotwave7":"https:\/\/emoji.slack-edge.com\/T026M1A20\/parrotwave7\/8606049da5dc4e59.gif","awww_yisss":"https:\/\/emoji.slack-edge.com\/T026M1A20\/awww_yisss\/cd96e2a157910e4d.gif"
[...]
