@import 'normalize-rails';
@import 'bourbon';
@import 'base/base';

.hero {
  background: #f2ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    text-align: center;
  }
}

.avatar {
  border-radius: 50%
}

.deck {
  width: 100%;
  margin-top: 1em;
  padding: 1em 0;
  text-align: center;

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .card {
    border: 1px solid #cecece;
    border-radius: 3px;
    padding-top: 1em;
    background: #fff;
    min-width: 190px;

    h4, h5 { margin: 0 }

    .avatar {
      max-width: 120px;
      height: auto;
    }

    .details {
      padding: 1em .5em;
      background: rgba(0, 0, 0, .1);
      margin-top: -.7em;
    }
  }

  .badges {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .badge {
      border-radius: 50%;
      padding: 5px;
      max-width: 30px;
      height: auto;
      background: #fff;
      display: block;
    }
  }
}
