@import 'normalize-rails';
@import 'bourbon';
@import 'base/base';

.hero {
  background: #f2ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.avatar {
  border-radius: 50%
}

.deck {
  width: 100%;
  margin-top: 1em;
  padding: 1em 0;

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .card {
    border: 1px solid black;
    border-radius: 3px;
    padding: .5em;
    background: #fff;
  }

  .badges {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .badge {
      border: 1px solid #ccc;
      border-radius: 50%;
      padding: .2em;
    }
  }
}
