---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/reactions.list
    body:
      encoding: UTF-8
      string: count=50&page=0&token=<SLACK_API_TOKEN>&user=U0EK98GN5
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - reactions:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps,admin
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 85559d91-5246-4578-afff-03103342688a
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"items":[{"type":"file","file":{"id":"F2SRJ0E2F","created":1477148891,"timestamp":1477148891,"name":"Screen
        Shot 2016-10-22 at 13.07.13.png","title":"Screen Shot 2016-10-22 at 13.07.13.png","mimetype":"image\/png","filetype":"png","pretty_type":"PNG","user":"U0J5R9RGS","editable":false,"size":173908,"mode":"hosted","is_external":false,"external_type":"","is_public":false,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https:\/\/files.slack.com\/files-pri\/T026M1A20-F2SRJ0E2F\/screen_shot_2016-10-22_at_13.07.13.png","url_private_download":"https:\/\/files.slack.com\/files-pri\/T026M1A20-F2SRJ0E2F\/download\/screen_shot_2016-10-22_at_13.07.13.png","thumb_64":"https:\/\/files.slack.com\/files-tmb\/T026M1A20-F2SRJ0E2F-7216559bdd\/screen_shot_2016-10-22_at_13.07.13_64.png","thumb_80":"https:\/\/files.slack.com\/files-tmb\/T026M1A20-F2SRJ0E2F-7216559bdd\/screen_shot_2016-10-22_at_13.07.13_80.png","thumb_360":"https:\/\/files.slack.com\/files-tmb\/T026M1A20-F2SRJ0E2F-7216559bdd\/screen_shot_2016-10-22_at_13.07.13_360.png","thumb_360_w":360,"thumb_360_h":181,"thumb_480":"https:\/\/files.slack.com\/files-tmb\/T026M1A20-F2SRJ0E2F-7216559bdd\/screen_shot_2016-10-22_at_13.07.13_480.png","thumb_480_w":480,"thumb_480_h":241,"thumb_160":"https:\/\/files.slack.com\/files-tmb\/T026M1A20-F2SRJ0E2F-7216559bdd\/screen_shot_2016-10-22_at_13.07.13_160.png","thumb_720":"https:\/\/files.slack.com\/files-tmb\/T026M1A20-F2SRJ0E2F-7216559bdd\/screen_shot_2016-10-22_at_13.07.13_720.png","thumb_720_w":720,"thumb_720_h":361,"image_exif_rotation":1,"original_w":879,"original_h":441,"permalink":"https:\/\/helabs.slack.com\/files\/cacau\/F2SRJ0E2F\/screen_shot_2016-10-22_at_13.07.13.png","permalink_public":"https:\/\/slack-files.com\/T026M1A20-F2SRJ0E2F-63a9e6d81d","channels":[],"groups":["G2S01SVLM"],"ims":[],"comments_count":0,"reactions":[{"name":"one","users":["U0J5R9RGS","U0EK98GN5"],"count":2},{"name":"two","users":["U0J5R9RGS","U07EZ3JKU"],"count":2},{"name":"three","users":["U0J5R9RGS"],"count":1}]}},{"type":"message","channel":"C026M1A2A","message":{"type":"message","user":"U026SEPC5","text":"Eu
        to ouvindo vini","ts":"1477139005.004470","permalink":"https:\/\/helabs.slack.com\/archives\/helabs\/p1477139005004470","reactions":[{"name":"ear::skin-tone-5","users":["U0EK98GN5","U026SEPC5"],"count":2}]}},{"type":"message","channel":"C03U1TZKN","message":{"type":"message","user":"U03UP3M5R","text":"Eu
        iria de AMS. Na \u00e9poca que o rails-api mergeou no Rails na thread tinha
        uma coloca\u00e7\u00e3o legal, que era de Jbuilder para o padr\u00e3oz\u00e3o
        do Rails, quando n\u00e3o se est\u00e1[...]
[...]
